:root {
  --title-bg-color: #303841;
  --title-text-color: #ffffff;
}

body {
	color: #333333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	padding: 0;
}

h3{
	margin:0;
	line-height:50px;
	background-color:var(--title-bg-color);;
	color:var(--title-text-color);
	text-indent:0.25em;
}

#area-header{
	margin:0;
	padding:0%;
	line-height:60px;
	font-size:1em;
}

#container {
	padding: 0.5em;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 40px repeat(5, 1fr);
	grid-gap: 0 0.5em;
	height:100vh;
}

#main-header {
	grid-area: 1 / 1 / 2 / 7;
	display:flex;
}

#main-header h1 {
	font-size: 0.85em;
	line-height: 40px;
	margin: 0;
	width:65%;
}

#loader {
	visibility: visible;
	opacity: 1;
	position: relative;
	height: 100%;
	width: 100%;
	transition: visibility 0ms linear, opacity 400ms linear;
}

#loader::before {
	animation: 2s linear infinite spin;
	border: solid 3px #eeeeee;
	border-bottom-color: #02fa55;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: center;
	will-change: transform;
}

@keyframes spin {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

/* text elements for screen reader only */
.sr-only {
	opacity: 0;
	position: absolute;
}

.fade-out {
	opacity: 0;
	visibility: hidden;
}

#map {
	grid-area: 2 / 1 / 5 / 7;
	width: 100%;
	height: 60vh;
}

.search-section {
	grid-area: 5 / 1 / 7 / 7;
	margin: 0;
	width: 100%;
	display: flex;
	flex-flow: column;
}

.search-section h2 {
	font-size: 1em;
}

.search-section h3 {
	font-size: 1em;
}

.select-box {
	margin: 0 0 0.5em;
	width: 100%;
	height: 100px;
	display: block;
}

.select-box > label {
	display:block;
	line-height:50px;
	font-size:1em;
	font-weight:bold;
	text-indent:0.25em;
	background-color:var(--title-bg-color);
	color:var(--title-text-color);

}

#crimes, #cities {
	margin: 0;
	width: 100%;
	height: 40px;
	font-size: 0.9rem;
}

#crimes option,
#cities option {
	font-size: 1rem;
	line-height: 35px;
	height: 35px;
}

#text-container {
	display: block;
	width: 100%;
	padding: 0;
}

.crime-panel {
	height: auto;
	display: block;
	margin: 0;
	padding: 0;
	width: 99%;
	border: 2px solid var(--title-bg-color);
	margin-bottom: 0.5em;
}

.crime-panel h2 {
	margin: 0;
	font-size: 1em;
	text-align: left;
	line-height: 35px;
	text-indent: 0.25em;
	background-color:var(--title-bg-color);
	color:var(--title-text-color);
}

.crime-panel p {
	text-indent: 0.25em;
	font-size:0.85em;
}

.mapboxgl-popup {
	max-width: 200px;
}

.mapboxgl-popup-content {
	text-align: center;
	font-family: "Open Sans", sans-serif;
	padding: 15px 15px 20px;
}

.mapboxgl-marker:hover {
	cursor: pointer;
}

.mapboxgl-popup-close-button {
	font-weight:bold;
	background-color: var(--title-bg-color);
	color: var(--title-bg-color);
}

.mapboxgl-popup-content h3 {
	line-height:30px;
	color: var(--title-bg-color);
	background-color: var(--title-text-color);
	border-bottom:4px solid var(--title-bg-color);
}

.mapboxgl-popup-content p{
	font-size:1em;
	font-weight:bold;
}

@media screen and (min-width: 1024px) {

	h3{
		margin:0;
		line-height:50px;
		text-indent:0.25em;
	}

	#area-header{
		margin:0;
		padding:0%;

	}

	#container {
		padding: 0.5em;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 60px repeat(5, 1fr);
		grid-gap: 0 0.5em;
	}

	#main-header {
		grid-area: 1 / 1 / 2 / 7;
	}

	#main-header h1 {
		font-size: 1.8em;
		line-height: 60px;
		margin: 0;
		width:70%;
	}

	#loader {
		visibility: visible;
		opacity: 1;
		position: relative;
		transition: visibility 0ms linear, opacity 400ms linear;
	}

	#loader::before {
		height: 40px;
		width: 40px;
	}

	@keyframes spin {
		0% {
			transform: translate(-50%, -50%) rotate(0deg);
		}

		100% {
			transform: translate(-50%, -50%) rotate(360deg);
		}
	}

	/* text elements for screen reader only */
	.sr-only {
		opacity: 0;
		position: absolute;
	}

	.fade-out {
		opacity: 0;
		visibility: hidden;
	}

	#map {
		grid-area: 2 / 1 / 7 / 5;
		width: 100%;
		height: 100vh;
	}

	#search-section {
		grid-area: 2 / 5 / 7 / 7;
		margin: 0;
		width: 100%;
		display: flex;
		flex-flow: column;
	}

	#search-section h3 {
		font-size: 1.2em;
	}

	#select-box {
		width: 100%;
		height: 100px;
		display: block;
	}

	#select-box > label {
		display:block;
		line-height:50px;
		font-size:1em;
		text-indent:0.25em;

	}

	#crimes, #cities {
		font-size: 0.9rem;
	}

	#crimes option,
	#cities option {
		font-size: 0.9rem;
	}

	#text-container {
		display: block;
		width: 100%;
		padding: 0;
	}

	.crime-panel {
		height: auto;
		width: 99%;
		margin-bottom: 0.5em;
	}

	.crime-panel h2 {
		font-size: 1.15em;
		line-height: 35px;
	}

	.crime-panel p {
		text-indent: 0.25em;
		font-size:0.9em;
		margin: 0;
    line-height: 25px;
	}

	.mapboxgl-popup {
		max-width: 200px;
	}

	.mapboxgl-popup-content {
		text-align: center;
		font-family: "Open Sans", sans-serif;
	}

	.mapboxgl-marker:hover {
		cursor: pointer;
	}
}

@media screen and (min-width: 801px) and (max-width: 1023px) {
	h3{
		margin:0;
		line-height:50px;
		text-indent:0.25em;
	}

	#area-header{
		margin:0;
		padding:0%;
		font-size:0.9em;
	}

	#container {
		padding: 0.5em;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 60px repeat(5, 1fr);
		grid-gap:0 0.5em;
		height:100vh;
	}

	#main-header {
		grid-area: 1 / 1 / 2 / 7;
	}

	#main-header h1 {
		font-size: 1.4em;
		line-height: 60px;
		margin: 0;
	}

	#loader {
		visibility: visible;
		opacity: 1;
		position: relative;
		transition: visibility 0ms linear, opacity 400ms linear;
	}

	#loader::before {
		height: 40px;
		width: 40px;
	}

	@keyframes spin {
		0% {
			transform: translate(-50%, -50%) rotate(0deg);
		}

		100% {
			transform: translate(-50%, -50%) rotate(360deg);
		}
	}

	/* text elements for screen reader only */
	.sr-only {
		opacity: 0;
		position: absolute;
	}

	.fade-out {
		opacity: 0;
		visibility: hidden;
	}

	#map {
		grid-area: 2 / 1 / 7 / 4;
		width: 100%;
		height: 100vh;
	}

	#search-section {
		grid-area: 2 / 4 / 7 / 7;
		margin: 0;
		width: 100%;
		display: flex;
		flex-flow: column;
	}

	#search-section h3 {
		font-size: 1em;
		line-height:45px;
	}

	#select-box {
		width: 100%;
		height: 100px;
		display: block;
	}

	#select-box > label {
		display:block;
		line-height:40px;
		font-size:1em;
	}

	#cities, #crimes {
		font-size: 0.9rem;
	}

	#crimes option,
	#cities option {
		font-size: 0.9rem;
	}

	#text-container {
		display: block;
		width: 100%;
		padding: 0;
	}

	.crime-panel {
		height: auto;
		display: block;
		width: 99%;
		margin-bottom: 0.5em;
	}

	.crime-panel h2 {
		font-size: 1em;
		line-height: 30px;
	}

	.crime-panel p {
		text-indent: 0.25em;
		font-size:0.9em;
		margin: 0;
    line-height: 25px;

	}

	.mapboxgl-popup {
		max-width: 200px;
	}

	.mapboxgl-popup-content {
		text-align: center;
		font-family: "Open Sans", sans-serif;
	}

	.mapboxgl-marker:hover {
		cursor: pointer;
	}
}

@media screen and (min-width: 481px) and (max-width: 800px) {
	h3{
		margin:0;
		line-height:50px;
		text-indent:0.25em;
	}

	#area-header{
		margin:0;
		padding:0%;

	}

	#container {
		padding: 0.5em;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 60px repeat(5, 1fr);
		grid-gap: 0 0.5em;
		height: 100vh;
	}

	#main-header {
		grid-area: 1 / 1 / 2 / 7;
	}

	#main-header h1 {
		font-size: 1.3em;
		line-height: 60px;
		margin: 0;
	}

	#loader {
		visibility: visible;
		opacity: 1;
		position: relative;
		transition: visibility 0ms linear, opacity 400ms linear;
	}

	#loader::before {
		height: 40px;
		width: 40px;
	}

	@keyframes spin {
		0% {
			transform: translate(-50%, -50%) rotate(0deg);
		}

		100% {
			transform: translate(-50%, -50%) rotate(360deg);
		}
	}

	/* text elements for screen reader only */
	.sr-only {
		opacity: 0;
		position: absolute;
	}

	.fade-out {
		opacity: 0;
		visibility: hidden;
	}

	#map {
		grid-area: 2 / 1 / 5 / 7;
		width: 100%;
		height: 54vh;
	}

	#search-section {
		grid-area: 5 / 1 / 7 / 7;
		margin: 0;
		width: 100%;
		display: flex;
		flex-flow: column;
	}

	#search-section h3 {
		font-size: 1.1em;
		line-height:40px;
	}

	#select-box {
		width: 100%;
		height: 100px;
		display: block;
	}

	#select-box > label {
		line-height:40px;
		font-size:1em;
	}

	#crimes, #cities {
		font-size: 0.9rem;
	}

	#crimes option,
	#cities option {
		font-size: 0.9rem;
	}

	#text-container {
		display: block;
		width: 100%;
		padding: 0;
	}

	.crime-panel {
		width: 99%;
	}

	.crime-panel h2 {
		font-size: 1em;
		line-height: 35px;
	}

	.crime-panel p {
		text-indent: 0.25em;
	}

	.mapboxgl-popup {
		max-width: 200px;
	}

	.mapboxgl-popup-content {
		text-align: center;
		font-family: "Open Sans", sans-serif;
	}

	.mapboxgl-marker:hover {
		cursor: pointer;
	}
}

@media screen and (min-width: 361px) and (max-width: 480px) {
	h3{
		margin:0;
		line-height:50px;
		text-indent:0.25em;
	}

	#area-header{
		margin:0;
		padding:0%;
		line-height:50px;
	}

	#container {
		padding: 0.5em;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 60px repeat(5, 1fr);
		grid-gap:0 0.5em;
	}

	#main-header {
		grid-area: 1 / 1 / 2 / 7;
	}

	#main-header h1 {
		font-size: 1em;
		line-height: 60px;
		margin: 0;
	}

	#loader {
		visibility: visible;
		opacity: 1;
		position: relative;
		transition: visibility 0ms linear, opacity 400ms linear;
	}

	#loader::before {
		height: 40px;
		width: 40px;
	}

	@keyframes spin {
		0% {
			transform: translate(-50%, -50%) rotate(0deg);
		}

		100% {
			transform: translate(-50%, -50%) rotate(360deg);
		}
	}

	/* text elements for screen reader only */
	.sr-only {
		opacity: 0;
		position: absolute;
	}

	.fade-out {
		opacity: 0;
		visibility: hidden;
	}

	#map {
		grid-area: 2 / 1 / 5 / 7;
		width: 100%;
		height: 54vh;
	}

	#search-section {
		grid-area: 5 / 1 / 7 / 7;
		margin: 0;
		width: 100%;
		display: flex;
		flex-flow: column;
	}

	#search-section h3 {
		font-size: 1em;
	}

	#select-box {
		width: 100%;
		height: 100px;
		display: block;
	}

	#select-box > label {
		display:block;
		line-height:30px;
		font-size:1em;
		text-indent:0.25em;
	}

	#cities, #crimes {
		font-size: 0.9rem;
	}

	#crimes option,
	#cities option {
		font-size: 0.9rem;
	}

	#text-container {
		display: block;
		width: 100%;
		padding: 0;
	}

	.crime-panel {
		height: auto;
		display: block;
		margin: 0;
		padding: 0;
		width: 99%;
		margin-bottom: 0.5em;
	}

	.crime-panel h2 {
		font-size: 1.1em;
		line-height: 35px;
	}

	.crime-panel p {
		text-indent: 0.25em;
	}

	.mapboxgl-popup {
		max-width: 200px;
	}

	.mapboxgl-popup-content {
		text-align: center;
		font-family: "Open Sans", sans-serif;
	}

	.mapboxgl-marker:hover {
		cursor: pointer;
	}
}
